@import "~react-toolbox/lib/colors";

.card[data-react-toolbox="card"] {
  margin: 2rem auto;
}

.cardSubText {
  text-align: right;
  font-size: 1.2rem;
  color: $palette-grey-500;
}

.cardTitle, .cardTitleClickable {
  [data-react-toolbox="avatar"] {
    min-width: 40px;
  }
}

.cardTitleClickable {
  cursor: pointer;
}

.twitterIcon {
  margin-right: 6.6px;
}
